            body {
                background-color:#333333;
            }
            h1 {
                color:white;
            }
            p {
                color:white;
            }
            li b {
                color:white;
            }
            h7 {
                color:white;
            }
            td {
                color:#181d42;
                text-align:center;
            }
            th {
                color:white;
                text-align:center;
                background-color:#5387b8;
            }
            h6 {
                color:white;
            }
            h1 {
                font-size:30px;
            }
            ul li {
                color:#faf3c3;
            }
            table {
                border:3px;
                width:500px;
            }
            .evenRow {
                background-color:lightyellow;
            }
            .oddRow {
                background-color:lightpink;
            }
            .topData {
                color:#a8fff3;
            }